<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../static/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../static/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../static/assets/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="../static/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="../static/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="../static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/lib/simdahs.css" rel="stylesheet">
    <link href="../static/assets/css/style.css" rel="stylesheet">
</head>



<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li class="label">Organizations</li>
                <div class="row">
                    <div class="col-lg-12">
                                <div class="tdl-holder" style="overflow: auto;height:212px">
                                        <ul>
                                            <li><label><input type="checkbox"><i></i><span>uk gov</span></label></li>
                                            <li><label><input type="checkbox"><i></i><span>us gov</span></label></li>
                                            <li><label><input type="checkbox"><i></i><span>zhanwei</span></label></li>
                                            <li><label><input type="checkbox"><i></i><span>else</span></label></li>
                                        </ul>
                                </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->

                <li class="label">Repository</li>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tdl-holder" style="overflow: auto;height:212px">
                            <ul>
                                <li><label><input type="checkbox"><i></i><span>datagov</span></label></li>
                                <li><label><input type="checkbox"><i></i><span>datahub</span></label></li>
<!--                                <li><label><input type="checkbox"><i></i><span>don't give up the fight.</span></label></li>-->
<!--                                <li><label><input type="checkbox"><i></i><span>do something else</span></label></li>-->
                            </ul>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->

                <li class="label">Topic</li>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tdl-holder" style="overflow: auto;height:212px">
                            <ul>
                                <li><label><input type="checkbox"><i></i><span>medicine</span></label></li>
                                <li><label><input type="checkbox"><i></i><span>geography</span></label></li>
                                <li><label><input type="checkbox"><i></i><span>psychology</span></label></li>
                                <li><label><input type="checkbox"><i></i><span>computer</span></label></li>
                                <li><label><input type="checkbox"><i></i><span>biology</span></label></li>
                            </ul>
                        </div>
                    </div><!-- /# column -->
                </div><!-- /# row -->


                <li class="label">createtime</li>

                <!--                <li><a href="../documentation/index.html"><i class="ti-file"></i> Documentation</a></li><li><a><i class="ti-close"></i> Logout</a></li>-->

            </ul>
        </div>
    </div>
</div><!-- /# sidebar -->

<div class="header">
    <div class="pull-left">
        <div class="logo" id="sideLogo">
            <a href="index.html">
                <img class="full-logo" src="../static/assets/images/logo-big.png" alt="SimDahs">
                <img class="small-logo" src="../static/assets/images/logo-small.png" alt="SimDahs">
            </a>
        </div>

    </div>

    <!--    右侧提醒-->
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib"><i class="ti-email "></i>
                <div class="drop-down">
                    <div class="dropdown-content-heading">
                        <span class="text-left">2 New Messages</span>
                        <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                    </div>
                    <div class="dropdown-content-body">
                        <ul>
                            <li class="notification-unread">
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/1.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">John Doe</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li class="notification-unread">
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/2.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">Sara Maggi</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/3.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">John Doe</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/2.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">Sara Maggi</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="#" class="more-link">See All</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Title of Dataset</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
<!--                            <ol class="breadcrumb text-right">-->
<!--                                <li><a href="#">metadata</a></li>-->
<!--                                <li><a href="#">Pages</a></li>-->
<!--                                <li class="active">Profile</li>-->
<!--                            </ol>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <div class="input-group input-group-rounded">
                                <input type="text" placeholder="Input" name="Search" class="form-control">
                                <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
<!--                    <div class="col-lg-1" style="padding: 15px;text-align: center">-->
<!--&lt;!&ndash;                        Search in:&ndash;&gt;-->
<!--&lt;!&ndash;                        <span >Search in:</span>&ndash;&gt;-->
<!--                    </div>-->
                    <div class="col-lg-8 row ">
                        <div class="tdl-holder" style="margin-left: 15px">

                            <ul>
                                <li style="float: left"><label><i></i><span>Search in:</span></label></li>
                                <li style="float: left"><label><input type="checkbox"><i></i><span>get up</span></label></li>
                                <li style="float: left"><label><input type="checkbox"><i></i><span>stand up</span></label></li>
                                <li style="float: left"><label><input type="checkbox"><i></i><span>don't give up the fight.</span></label></li>
                                <li style="float: left"><label><input type="checkbox"><i></i><span>do something else</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="card alert" style="height: 400px; overflow:auto; overflow-x: hidden; scrollbar-face-color: #1c5c9d">
<!--                    <div class="card-body">-->
                        <div>
                            <div class="recent-comment" >
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img class="media-object" src="../static/assets/images/avatar/1.jpg" alt="..."></a>
                                    </div>

                                    <div class="media-body">
                                        <h4 class="media-heading">title</h4>
                                        <p>notes notes notes notes notes notes notes notes notes notes notes notes notes </p>
                                        <div class="comment-action">
                                            <div class="badge badge-danger">datagov</div>
                                        </div>
                                        <div class="comment-action">
                                            <div class="well well-sm" >
                                                formatqqqwwww
                                            </div>
                                        </div>

                                        <div style="margin-top: 10px">dataset update date</div>
                                        <div style="margin-top: 10px">author(email@123.com)</div>
                                        <div style="margin-top: 10px">maintainer(email@123.com)</div>
                                        <div style="margin-top: 10px">license</div>
                                        <!--                                <p class="comment-date">October 21, 2017</p>-->
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img class="media-object" src="../static/assets/images/avatar/1.jpg" alt="..."></a>
                                    </div>

                                    <div class="media-body">
                                        <h4 class="media-heading">title</h4>
                                        <p>notes notes notes notes notes notes notes notes notes notes notes notes notes </p>
                                        <div class="comment-action">
                                            <div class="badge badge-danger">datagov</div>
                                        </div>
                                        <div class="comment-action">
                                            <div class="well well-sm" >
                                                formatqqqwwww
                                            </div>
                                        </div>

                                        <div style="margin-top: 10px">dataset update date</div>
                                        <div style="margin-top: 10px">author(email@123.com)</div>
                                        <div style="margin-top: 10px">maintainer(email@123.com)</div>
                                        <div style="margin-top: 10px">license</div>
                                        <!--                                <p class="comment-date">October 21, 2017</p>-->
                                    </div>
                                </div>



                            </div>
<!--                            <div class="asScrollable-bar-handle" style="height: 117.728px; transform: translate3d(0px, 0px, 0px);"></div>-->

                        </div>
<!--                    </div>-->




                </div>
            </div>

        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
</div><!-- /# content wrap -->

<script src="assets/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="assets/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="assets/js/lib/bootstrap.min.js"></script><!-- bootstrap -->


</body>
</html>