<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->

<!--    <link href=""-->
<!--    <link href="assets/css/style.css">-->
<!--    static is the root of static files http://localhost:8080/-->
    <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/lib/simdahs.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano ">
        <div class="nano-content">
            <ul>
                <li class="label">metadata</li>
                <li class="active"><a href="index.html"><i class="ti-home"></i> Dashboard0 </a></li>
                <li><a href="app-profile.html"><i class="ti-user"></i> Dashboard1</a></li>



                <li class="label">schema</li>
                <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> statistics </a></li>
                <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> summary <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="uc-calendar.html">summary0</a></li>
                        <li><a href="uc-carousel.html">summary1</a></li>
<!--                        <li><a href="uc-weather.html">Weather</a></li>-->
<!--                        <li><a href="uc-datamap.html">Datamap</a></li>-->
<!--                        <li><a href="uc-todo-list.html">To do</a></li>-->
<!--                        <li><a href="uc-scrollable.html">Scrollable</a></li>-->
<!--                        <li><a href="uc-sweetalert.html">Sweet Alert</a></li>-->
<!--                        <li><a href="uc-toastr.html">Toastr</a></li>-->
<!--                        <li><a href="uc-range-slider-basic.html">Basic Range Slider</a></li>-->
<!--                        <li><a href="uc-range-slider-advance.html">Advance Range Slider</a></li>-->
<!--                        <li><a href="uc-nestable.html">Nestable</a></li>-->
<!--                        <li><a href="uc-portlets.html">Portlets</a></li>-->

                    </ul>
                </li>

                <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> explore </a></li>


<!--                <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> explore <span class="sidebar-collapse-icon ti-angle-down"></span></a>-->
<!--                    <ul>-->
<!--                        <li><a href="table-basic.html">Basic</a></li>-->

<!--                    </ul>-->
                </li>

                <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i> …… <span class="sidebar-collapse-icon ti-angle-down"></span></a>
<!--                    <ul>-->
<!--                        <li><a href="font-themify.html">Themify</a></li>-->
<!--                    </ul>-->
                </li>




                <li class="label">data</li>
                <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> statistics </a></li>



                <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> snippet <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="page-login.html">illustrative</a></li>
                        <li><a href="page-register.html">query relevance</a></li>
<!--                        <li><a href="page-reset-password.html">Forgot password</a></li>-->
                    </ul>
                </li>

                <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> explore </a></li>

                <li class="label">questionaire</li>

<!--                <li><a href="../documentation/index.html"><i class="ti-file"></i> Documentation</a></li><li><a><i class="ti-close"></i> Logout</a></li>-->

            </ul>
        </div>
    </div>
</div><!-- /# sidebar -->




<div class="header">
    <div class="pull-left">
        <div class="logo" id="sideLogo">
            <a href="index.html">
                <img class="full-logo" src="../static/assets/images/logo-big.png" alt="SimDahs">
                <img class="small-logo" src="../static/assets/images/logo-small.png" alt="SimDahs">
            </a>
        </div>

    </div>

<!--    右侧提醒-->
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib"><i class="ti-email "></i>
                <div class="drop-down">
                    <div class="dropdown-content-heading">
                        <span class="text-left">2 New Messages</span>
                        <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                    </div>
                    <div class="dropdown-content-body">
                        <ul>
                            <li class="notification-unread">
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/1.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">John Doe</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li class="notification-unread">
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/2.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">Sara Maggi</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/3.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">John Doe</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img class="pull-left m-r-10 avatar-img" src="../static/assets/images/avatar/2.jpg" alt="" />
                                    <div class="notification-content">
                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                        <div class="notification-heading">Sara Maggi</div>
                                        <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                    </div>
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="#" class="more-link">See All</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Title of Dataset</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">metadata</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active">Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content">


                <div class="card ">
                    <div class="user-profile-name">This is a dataset to describe xixihahahuhulalawuwu aaaaaaaaa test test sdfgh fngdtgrg fgeggrfgefr
                        fdfd gty jffgeg jjtrges fgggggghj tyuyujfths rgsefwwk,jh fwedqwqsq dgbefnjwknwedkwjdf 12 fkefwnf53 dknlsnlm qsasas</div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="address-content">
                                <span class="contact-title">Author:</span>
                                <span class="mail-address">Heihei</span>
                            </div>
                            <div class="email-content">
                                <span class="contact-title">Email:</span>
                                <span class="contact-email">test@163.com</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="address-content">
                                <span class="contact-title">Maintainer:</span>
                                <span class="mail-address">Heihei</span>
                            </div>
                            <div class="email-content">
                                <span class="contact-title">Email:</span>
                                <span class="contact-email">test@163.com</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="address-content">
                                <span class="contact-title">Organzation:</span>
                                <span class="mail-address">Heihei</span>
                            </div>
                            <div class="email-content">
                                <span class="contact-title">Email:</span>
                                <span class="contact-email">test@163.com</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="phone-content">
                                <span class="contact-title">Metadata_created:</span>
                                <span class="phone-number">20200101</span>
                            </div>
                            <div class="phone-content">
                                <span class="contact-title">Metadata_modified:</span>
                                <span class="phone-number">20200102</span>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div><!-- /# container-fluid -->
    </div><!-- /# main -->
</div><!-- /# content wrap -->




<script src="assets/js/lib/jquery.min.js"></script><!-- jquery vendor -->
<script src="assets/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
<script src="assets/js/lib/sidebar.js"></script><!-- sidebar -->
<script src="assets/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
<script src="../static/assets/js/lib/mmc-common.js"></script>
<script src="../static/assets/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="../static/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="../static/assets/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->


<script src="../static/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script><!-- scripit init-->
<script src="../static/assets/js/lib/sparklinechart/sparkline.init.js"></script><!-- scripit init-->

<!--  Datamap -->
<script src="../static/assets/js/lib/datamap/d3.min.js"></script>
<script src="../static/assets/js/lib/datamap/topojson.js"></script>
<script src="../static/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="../static/assets/js/lib/datamap/datamap-init.js"></script>
<!-- // Datamap -->-->
<script src="../static/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="../static/assets/js/lib/weather/weather-init.js"></script>
<script src="../static/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="../static/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
<script src="assets/js/scripts.js"></script><!-- scripit init-->
</body>
</html>